body{
  background-color: grey;
}

#prompt{
 display: block;
}

#header{
  margin: 0px 30px 0px 30px;
 background-color: black;
}

#space{
  position: fixed;
  left: 30px;
  right: 30px;
  bottom: 30px;
  top:160px;
  border: 2px solid grey;
}

#terminal{
    position:absolute;
    left: 5px;
    top: 25px;
}

#top{
  position: absolute;
  left: 0px;
  top:0px;
  right: 0px;
  height: 20px;
  background-color: #CE0000;
}

#content{
  position: fixed;
  left: 100px;
  right: 100px;
  bottom: 50px;
  top:250px;
  background-color: black;
}

#head{
  text-align: center;
  color: white;
}
h3{
  color: white;
}

p{
  color: white;
}